html, body {
  background-color: rgb(255, 252, 240);
}

.character-form {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-around;
  background-color: rgb(131, 86, 23);
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}

#characterDetails {
  border-radius: 10px;
  background-color: rgb(131, 86, 23);
  width: 40%;
}

#header {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.character-form label {
  color: white;
}

.character-form input {
  border-radius: 8px;
  color: rgb(135, 39, 10);
  text-align: center;
}

.item-card p {
  width: 100%;
  color: rgb(131, 86, 23);
  
}

.app {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-bar input {
  border: 2px solid;
  border-color: rgb(135, 39, 10);
  border-radius: 14px;
  font-style: italic;
  font-weight: 700;
  margin: 10px;
  padding: 3px;
  width: 20%;
  color: rgb(135, 39, 10);
}

.containers {
  background-color: rgb(131, 86, 23);
  width: 80%;
  justify-content: center;
  padding-top: 13px;
  border-width: 2px;
  border-color: rgb(135, 39, 10);
}

#inventoryContainer {
  background-color: rgb(181, 127, 127);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#itemsContainer {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  max-width: 50%;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

.item-title {
  color: rgb(135, 39, 10);
  height: 30px;
}

.item-card {
  border: 1px solid;
  border-radius: 10px;
  width: 170px;
  text-align: center;
  background-color: rgb(255, 252, 240);
  border-color: rgb(135, 39, 10);
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-width: 2px;
  border-style: solid;
}

button {
  border: none;
  color: white;
  font-weight: 700;
  padding: 8px;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
  transition: opacity 0.15s;
}

button:hover {
  opacity: 0.8;
}

.add-button {
  background-color: rgb(135, 39, 10);
}

.info-button {
  background-color: black;
}

